header .sc-header-h1 {
  color: var(--tsc-color-700);
  font-family: 'Dancing Script', sans-serif;
  font-size: var(--tsc-font-size-1000);
  font-weight: var(--tsc-font-weight-100);
}

@media screen and (min-width: 900px) {
  header .sc-header-h1 {
    font-size: var(--tsc-font-size-1100);
  }
}
