.tsc-main-home-testimonials-content {
  display: flex;
  flex-direction: column;
  gap: var(--tsc-gap-600);
  margin: var(--tsc-margin-000) auto;
}

@media screen and (min-width: 768px) {
  .tsc-main-home-testimonials-content {
    flex-direction: row;
  }
}
