.tsc-header-nav-user_icon {
  align-items: center;
  background-color: var(--tsc-color-1000);
  border-radius: var(--tsc-border-400);
  display: flex;
  justify-content: center;
  height: var(--tsc-height-300);
  width: var(--tsc-width-200);
}

.tsc-header-nav-user_icon i {
  color: var(--tsc-color-200);
}
