.sc-header-events-create_btn,
.sc-main-events-card-options button {
  padding: var(--tsc-padding-200) var(--tsc-padding-400);
  border: var(--tsc-border-000);
  border-radius: var(--tsc-border-100);
  cursor: pointer;
}

.sc-header-events-create_btn {
  background-color: var(--tsc-color-600);
  color: var(--tsc-color-900);
}

.confirm-btn {
  background-color: var(--tsc-color-400);
  color: var(--tsc-color-900);
}

.sc-main button {
  align-self: center;
  background-color: var(--tsc-color-600);
  border: var(--tsc-border-100) solid var(--tsc-color-600);
  border-radius: var(--tsc-border-200);
  color: var(--tsc-color-900);
  cursor: pointer;
  font-size: var(--tsc-font-size-200);
  font-weight: var(--tsc-font-weight-100);
  height: var(--tsc-height-200);
}

.sc-main button:hover {
  background-color: var(--tsc-color-900);
  border-color: var(--tsc-color-900);
  color: var(--tsc-color-600);
}

.sc-main-profile_info-editProfile_btn {
  display: flex;
  align-items: center;
  background-color: var(--tsc-color-600);
  border: var(--tsc-border-000);
  border-radius: var(--tsc-border-100);
  color: var(--tsc-color-900);
  cursor: pointer;
  font-size: var(--tsc-font-size-400);
  padding: var(--tsc-padding-200) var(--tsc-padding-500);
  transition: background-color 0.3s ease;
}

.sc-main-profile_info-editProfile_btn:hover {
  background-color: var(--tsc-color-900);
  color: var(--tsc-color-600);
}

@media screen and (min-width: 400px) {
  .sc-main button {
    font-size: var(--tsc-font-size-300);
  }
}

@media screen and (min-width: 350px) and (min-height: 750px) {
  .sc-main button {
    font-size: var(--tsc-font-size-500);
  }
}
