.tsc-header-events-create_btn,
.tsc-main-events-card-options button {
  padding: var(--tsc-padding-200) var(--tsc-padding-400);
  border: var(--tsc-border-000);
  border-radius: var(--tsc-border-200);
}

.tsc-header-events-create_btn {
  background-color: var(--tsc-color-600);
  color: var(--tsc-color-1000);
}

.confirm-btn {
  background-color: var(--tsc-color-400);
  color: var(--tsc-color-1000);
}

.tsc-main-login-button {
  align-self: center;
  background-color: var(--tsc-color-600);
  border: var(--tsc-border-200) solid var(--tsc-color-600);
  border-radius: var(--tsc-border-300);
  color: var(--tsc-color-1000);
  font-size: var(--tsc-font-size-200);
  font-weight: var(--tsc-font-weight-100);
  height: var(--tsc-height-200);
}

.tsc-main-login-button:hover {
  background-color: var(--tsc-color-1000);
  border-color: var(--tsc-color-1000);
  color: var(--tsc-color-600);
}

.tsc-main-login_form-login_submit,
.tsc-main-register_form-register_submit {
  padding-top: var(--tsc-padding-200);
}

.tsc-main-edit_profile_form-edit_profile_submit {
  padding-top: var(--tsc-padding-200);
}

.tsc-main-profile_info-editProfile_btn {
  display: flex;
  align-items: center;
  background-color: var(--tsc-color-600);
  border: var(--tsc-border-000);
  border-radius: var(--tsc-border-200);
  color: var(--tsc-color-1000);
  font-size: var(--tsc-font-size-400);
  padding: var(--tsc-padding-200) var(--tsc-padding-500);
  transition: background-color 0.3s ease;
}

.tsc-main-profile_info-editProfile_btn:hover {
  background-color: var(--tsc-color-1000);
  color: var(--tsc-color-600);
}

@media screen and (min-width: 400px) {
  .tsc-main-login-button {
    font-size: var(--tsc-font-size-300);
  }
}

@media screen and (min-width: 350px) and (min-height: 750px) {
  .tsc-main-login-button {
    font-size: var(--tsc-font-size-500);
  }
}
