.sc-main-login_link {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.sc-main-login_link-message {
  font-size: 0.8rem;
  font-weight: 700;
}

.sc-main-login_link-message {
  color: var(--rtc-color-n-700);
}

@media screen and (min-width: 350px) {
  .sc-main-login_link-message {
    font-size: 0.85rem;
  }
}

@media screen and (min-width: 400px) {
  .sc-main-login_link-message {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 350px) and (min-height: 750px) {
  .sc-main-login_link {
    gap: 2rem;
  }

  .sc-main-login_link-message {
    font-size: 1rem;
  }
}
