.tsc-main form {
  display: flex;
  flex-direction: column;
  gap: var(--tsc-gap-600);
}

.tsc-main-edit_profile_form {
  padding-top: var(--tsc-padding-300);
}

@media screen and (min-width: 350px) and (min-height: 750px) {
  .tsc-main form {
    gap: var(--tsc-gap-800);
  }
}

@media screen and (min-width: 400px) {
  .tsc-main form {
    gap: var(--tsc-gap-800);
  }
}

@media screen and (min-width: 600px) {
  .tsc-main form {
    gap: var(--tsc-gap-1000);
  }
}
