.sc-main form {
  display: flex;
  flex-direction: column;
  gap: var(--tsc-gap-600);
}

@media screen and (min-width: 350px) and (min-height: 750px) {
  .sc-main form {
    gap: var(--tsc-gap-800);
  }
}

@media screen and (min-width: 400px) {
  .sc-main form {
    gap: var(--tsc-gap-800);
  }
}

@media screen and (min-width: 600px) {
  .sc-main form {
    gap: var(--tsc-gap-1000);
  }
}
