.sc-main form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media screen and (min-width: 350px) and (min-height: 750px) {
  .sc-main form {
    gap: 2rem;
  }
}

@media screen and (min-width: 400px) {
  .sc-main form {
    gap: 2.25rem;
  }
}

@media screen and (min-width: 600px) {
  .sc-main form {
    gap: 2.5rem;
  }
}
