.sc-main-events-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1.25rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sc-main-events-card div {
  align-self: center;
}

@media screen and (min-width: 768px) {
  .sc-main-events-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

  .sc-main-events-card-options {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 20px;
  }

  .sc-main-events-card:hover .sc-main-events-card-options {
    display: block;
  }
}
