.tsc-main-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tsc-main-profile_info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--tsc-gap-600);
  overflow: hidden;
}

.tsc-main-profile_info-profile_avatar {
  display: flex;
  justify-content: center;
  width: var(--tsc-width-full);
}

.tsc-main-profile_info-profile_data {
  display: flex;
  align-items: center;
  background-color: var(--tsc-color-900);
  border: var(--tsc-border-200) solid var(--tsc-color-600);
  border-radius: var(--tsc-border-200);
  flex-direction: column;
  gap: var(--tsc-gap-200);
  padding: var(--tsc-padding-600) var(--tsc-padding-800);
}
