.tsc-main-home-cta {
  background: var(--tsc-background-mobile);
  background-size: cover;
  padding: var(--tsc-padding-1200) var(--tsc-padding-400);
  position: relative;
  text-align: center;
}

.tsc-main-home-cta::before {
  background-color: var(--tsc-color-200);
  bottom: var(--tsc-position-bottom-000);
  content: '';
  left: var(--tsc-position-left-000);
  position: absolute;
  right: var(--tsc-position-right-000);
  top: var(--tsc-position-top-000);
}

@media screen and (min-width: 400px) {
  .tsc-main-home-cta {
    padding-top: var(--tsc-padding-1300);
  }
}

@media screen and (min-width: 768px) {
  .tsc-main-home-cta {
    padding: var(--tsc-padding-1300) var(--tsc-padding-400);
  }
}
