.tsc-event-form-submit-btn,
.tsc-main-edit_profile-form-submit-btn,
.tsc-main-login-form-submit-btn,
.tsc-main-register-form-submit-btn {
  background-color: var(--tsc-color-600);
  border: none;
  border-radius: var(--tsc-border-200);
  color: var(--tsc-color-1000);
  font-size: var(--tsc-font-size-200);
  font-weight: var(--tsc-font-weight-100);
  padding: var(--tsc-padding-200) var(--tsc-padding-400);
  transition: background-color 0.3s ease;
}

.tsc-event-form-submit-btn:hover,
.tsc-main-edit_profile-form-submit-btn:hover,
.tsc-main-login-form-submit-btn:hover,
.tsc-main-register-form-submit-btn:hover {
  background-color: var(--tsc-color-700);
  color: var(--tsc-color-000);
}

@media screen and (min-width: 400px) {
  .tsc-event-form-submit-btn,
  .tsc-main-edit_profile-form-submit-btn,
  .tsc-main-login-form-submit-btn,
  .tsc-main-register-form-submit-btn {
    font-size: var(--tsc-font-size-300);
  }
}

@media screen and (min-width: 350px) and (min-height: 750px) {
  .tsc-event-form-submit-btn,
  .tsc-main-edit_profile-form-submit-btn,
  .tsc-main-login-form-submit-btn,
  .tsc-main-register-form-submit-btn {
    font-size: var(--tsc-font-size-500);
  }
}
