.tsc-header-home-menu-item a:not(.tsc-header-home-menu-login-anchor) {
  color: var(--tsc-color-1000);
  font-weight: var(--tsc-font-weight-100);
  transition: color 0.3s ease;
}

.tsc-header-home-menu-item a:hover {
  color: var(--tsc-color-700);
}
