.tsc-main-login-form-register-message,
.tsc-main-register-form-login-message {
  color: var(--tsc-color-700);
  font-size: var(--tsc-font-size-100);
  font-weight: var(--tsc-font-weight-100);
  padding-top: var(--tsc-padding-200);
}

@media screen and (min-width: 360px) {
  .tsc-main-login-form-register-message,
  .tsc-main-register-form-login-message {
    font-size: var(--tsc-font-size-200);
  }
}

@media screen and (min-width: 400px) {
  .tsc-main-login-form-register-message,
  .tsc-main-register-form-login-message {
    font-size: var(--tsc-font-size-300);
  }
}

@media screen and (min-width: 350px) and (min-height: 750px) {
  .tsc-main-login-form-register-message,
  .tsc-main-register-form-login-message {
    font-size: var(--tsc-font-size-400);
  }
}
