.sc-main-login_form-button {
  align-self: center;
  background-color: var(--rtc-color-n-600);
  border: 0.25rem solid var(--rtc-color-n-600);
  border-radius: 0.5rem;
  font-weight: 700;
  height: 2rem;
}
