.tsc-main-login_form-fields {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--tsc-gap-400);
}

.tsc-main-login_form-fields li {
  display: flex;
  flex-direction: column;
  gap: var(--tsc-gap-300);
}

.tsc-main-register_form-fields {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--tsc-gap-300);
}

.tsc-main-register_form-fields li {
  display: flex;
  flex-direction: column;
  gap: var(--tsc-gap-300);
}
