.tsc-main-home-hero {
  background: var(--tsc-background-desktop);
  background-size: cover;
  color: var(--tsc-color-1000);
  display: flex;
  padding: var(--tsc-padding-1200) var(--tsc-padding-400);
  position: relative;
  text-align: center;
}

@media screen and (min-width: 400px) {
  .tsc-main-home-hero {
    padding-top: var(--tsc-padding-1300);
  }
}

@media screen and (min-width: 768px) {
  .tsc-main-home-hero {
    justify-content: center;
    padding: var(--tsc-padding-1300) var(--tsc-padding-400);
  }
}
