.tsc-header-nav-dropdown_menu {
  background-color: var(--tsc-color-900);
  box-shadow: var(--tsc-box-shadow-000) var(--tsc-box-shadow-100)
    var(--tsc-box-shadow-200) var(--tsc-color-000-transparent);
  border-radius: var(--tsc-border-100);
  display: none;
  flex-direction: column;
  gap: var(--tsc-gap-500);
  padding: var(--tsc-padding-200) var(--tsc-padding-100);
  position: absolute;
  right: var(--tsc-position-right-000);
  top: var(--tsc-position-top-200);
  z-index: var(--tsc-z-index-300);
}

.tsc-header-nav-dropdown_menu p {
  color: var(--tsc-color-100);
}

.tsc-header-nav-dropdown_menu p:hover {
  color: var(--tsc-color-800);
}
