.sc-main-create_event_form-img_field-input {
  display: none;
}

.sc-main-create_event_form-img_field-preview_img {
  display: none;
  align-self: center;
  height: var(--tsc-height-400);
  width: var(--tsc-width-300);
}
