.sc-events-header {
  flex-direction: column;
  gap: 0.5rem;
}

.sc-events-header-search {
  background-color: var(--rtc-color-n-900);
  border: 0.25rem solid var(--rtc-color-n-600);
  border-radius: 0.5rem;
  color: var(--rtc-color-n-000);
  height: 2rem;
  width: 8rem;
}

.sc-events-header-search:hover {
  border: 0.25rem solid var(--rtc-color-n-600);
}

.event-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.event-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.event-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
.event-card h3 {
  margin: 0;
  font-size: 1.5em;
}
.event-card p {
  margin: 10px 0;
}

.event-options {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.event-card:hover .event-options {
  display: block;
}
.event-options button {
  padding: 10px 15px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.confirm-btn {
  background-color: #28a745;
  color: white;
}
.create-btn {
  background-color: #007bff;
  color: white;
}
