.tsc-header-home-menu-login-btn {
  background-color: var(--tsc-color-600);
  border: var(--tsc-border-100) solid var(--tsc-color-600);
  border-radius: var(--tsc-border-200);
  color: var(--tsc-color-1000);
  font-size: var(--tsc-font-size-400);
  font-weight: var(--tsc-font-weight-100);
  padding: var(--tsc-padding-200) var(--tsc-padding-400);
  transition: background-color 0.3s ease;
}

.tsc-header-home-menu-login-btn:hover {
  background-color: var(--tsc-color-700);
  color: var(--tsc-color-000);
}
