.sc-loader-container {
  align-items: center;
  background-color: var(--tsc-color-900-transparent);
  display: flex;
  flex-direction: column;
  height: var(--tsc-height-full);
  justify-content: center;
  position: absolute;
  width: var(--tsc-width-full);
}

.sc-loader {
  animation: spin 1s linear infinite;
  border: var(--tsc-border-200) solid var(--tsc-color-800);
  border-radius: var(--tsc-border-200);
  border-top: var(--tsc-border-200) solid var(--tsc-color-300);
  height: var(--tsc-height-500);
  width: var(--tsc-width-400);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
