.tsc-footer-link-item {
  color: var(--tsc-color-1000);
  opacity: var(--tsc-opacity-100);
  transition: opacity 0.3s ease;
}

.tsc-footer-link-item p {
  cursor: pointer;
  display: inline-block;
}

.tsc-footer-link-item p:hover {
  color: var(--tsc-color-700);
  opacity: var(--tsc-opacity-200);
}
