.tsc-header-login-back-arrow-icon,
.tsc-header-register-back-arrow-icon {
  cursor: pointer;
  color: var(--tsc-color-700);
  font-size: var(--tsc-font-size-800);
}

.tsc-header-login-back-arrow-icon:hover,
.tsc-header-register-back-arrow-icon:hover {
  color: var(--tsc-color-600);
}
