.tsc-header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tsc-color-100);
  padding: var(--tsc-padding-200);
  color: var(--tsc-color-900);
  position: fixed;
  top: var(--tsc-position-top-000);
  left: var(--tsc-position-left-000);
  right: var(--tsc-position-right-000);
  z-index: var(--tsc-z-index-200);
  box-shadow: var(--tsc-box-shadow-000) var(--tsc-box-shadow-100)
    var(--tsc-box-shadow-300) var(--tsc-color-000-transparent);
}

.tsc-header-nav-user_info {
  display: flex;
  align-items: center;
  gap: var(--tsc-gap-200);
}

.tsc-header-nav-user_name {
  font-size: var(--tsc-font-size-400);
  font-weight: var(--tsc-font-weight-200);
}
