.tsc-main-home-hero-login-message,
.tsc-main-login-form-register-message,
.tsc-main-register-form-login-message {
  color: var(--tsc-color-700);
  font-size: var(--tsc-font-size-200);
  font-weight: var(--tsc-font-weight-100);
  padding-top: var(--tsc-padding-800);
}

@media screen and (min-width: 400px) {
  .tsc-main-home-hero-login-message,
  .tsc-main-login-form-register-message,
  .tsc-main-register-form-login-message {
    font-size: var(--tsc-font-size-300);
  }
}

@media screen and (min-width: 500px) {
  .tsc-main-home-hero-login-message,
  .tsc-main-login-form-register-message,
  .tsc-main-register-form-login-message {
    font-size: var(--tsc-font-size-400);
  }
}
