.tsc-header-events-nav-create-btn {
  background-color: var(--tsc-color-600);
  border: none;
  border-radius: var(--tsc-border-200);
  color: var(--tsc-color-1000);
  display: none;
  font-weight: var(--tsc-font-weight-100);
  padding: var(--tsc-padding-200) var(--tsc-padding-400);
}

.tsc-header-events-nav-create-btn:hover {
  background-color: var(--tsc-color-700);
  color: var(--tsc-color-000);
}

@media screen and (min-width: 768px) {
  .tsc-header-events-nav-create-btn {
    display: inline-block;
  }
}
