* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* COLOR PALETTE */
  --rtc-color-n-000: #1a1a1a;
  --rtc-color-n-300: #1d2c5d;
  --rtc-color-n-500: #4b6ea0;
  --rtc-color-n-700: #d77c2d;
  --rtc-color-n-900: #e8e8e8;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--rtc-color-n-900);
  color-scheme: light dark;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1rem 0.5rem 1rem;
  height: 100svh;
}

.mc {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 10rem;
}

header {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

header .mc-header-h1 {
  color: var(--rtc-color-n-300);
  font-size: 2rem;
}

header .mc-header-logo-img {
  display: none;
}

a {
  list-style: none;
  text-decoration: none;
}
