* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* COLOR PALETTE */
  --rtc-color-n-000: #1a1a1a;
  --rtc-color-n-100: #010818;
  --rtc-color-n-300: #0f3fa78c;
  --rtc-color-n-600: #ff7f0f;
  --rtc-color-n-700: #ffea2b;
  --rtc-color-n-800: #8fafca;
  --rtc-color-n-900: #e8e8e8;

  /* COLOR-SCHEME */
  color-scheme: light dark;

  /* HEIGHT */
  line-height: 1.5;
  --rtc-height: 110svh;

  /* FONT */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  /* TEXT */
  text-rendering: optimizeLegibility;
}

body {
  background: url('https://res.cloudinary.com/ddd5cycm4/image/upload/v1721754875/trumpetist-coach_t5g24a.jpg')
    no-repeat center center fixed;
  background-size: cover;
}

ul {
  padding: 0;
}

ul,
li,
a {
  list-style: none;
}

a {
  text-decoration: none;
}

.sc {
  background: var(--rtc-color-n-300);
  display: grid;
  grid-gap: 2rem;
  grid-template-rows: auto 1fr auto;
  min-height: var(--rtc-height);
}

.sc-header {
  display: flex;
  justify-content: center;
}

.sc-header-events {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.sc-main {
  display: flex;
  flex-direction: column;
}

.sc-footer > p {
  color: var(--rtc-color-n-900);
  font-weight: 700;
  margin: 0 0.5rem;
}

@media screen and (min-width: 600px) {
  body {
    background: url('https://res.cloudinary.com/ddd5cycm4/image/upload/v1722965956/guitar-coach_jndee5.jpg')
      no-repeat center center fixed;
    background-size: cover;
  }

  .sc-footer > p {
    margin: 0 1rem;
  }
}
