label {
  color: var(--tsc-color-600);
  font-size: var(--tsc-font-size-200);
  font-weight: var(--tsc-font-weight-100);
}

@media screen and (min-width: 400px) {
  label {
    font-size: var(--tsc-font-size-300);
  }
}
