.confirm-btn-confirmed_icon {
  background-color: white;
  border-radius: var(--tsc-border-400);
  color: var(--tsc-color-400);
  font-size: var(--tsc-font-size-300);
  height: var(--tsc-height-100);
  line-height: var(--tsc-line-height-100);
  position: absolute;
  right: var(--tsc-position-right-100);
  text-align: center;
  top: var(--tsc-position-top-100);
  width: var(--tsc-width-100);
}
