.sc-header-nav-dropdown_menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1001;
}

.sc-header-nav-dropdown_menu a {
  color: var(--rtc-color-n-100);
}

.sc-header-nav-dropdown_menu a:hover {
  color: var(--rtc-color-n-800);
}
