@media screen and (min-width: 768px) {
  .tsc-header-events-nav-main-content {
    align-items: center;
    display: flex;
    gap: var(--tsc-gap-700);
  }
}

@media screen and (min-width: 900px) {
  .tsc-header-events-nav-main-content {
    gap: var(--tsc-gap-1000);
  }
}

@media screen and (min-width: 1024px) {
  .tsc-header-events-nav-main-content {
    gap: var(--tsc-gap-1100);
  }
}

@media screen and (min-width: 1440px) {
  .tsc-header-events-nav-main-content {
    gap: var(--tsc-gap-1400);
  }
}

@media screen and (min-width: 1600px) {
  .tsc-header-events-nav-main-content {
    gap: var(--tsc-gap-1500);
  }
}

@media screen and (min-width: 1920px) {
  .tsc-header-events-nav-main-content {
    gap: var(--tsc-gap-1800);
  }
}

@media screen and (min-width: 2560px) {
  .tsc-header-events-nav-main-content {
    gap: var(--tsc-gap-1900);
  }
}
