input {
  background-color: var(--tsc-color-900);
  border: var(--tsc-border-100) solid var(--tsc-color-600);
  border-radius: var(--tsc-border-200);
  color: var(--tsc-color-000);
  height: var(--tsc-height-200);
  width: var(--tsc-width-600);
}

input:hover {
  border: var(--tsc-border-100) solid var(--tsc-color-600);
}

.sc-main-create_event_form-fields div input {
  width: var(--tsc-width-full);
}
