input:not(.tsc-main-edit_profile-form-img-field-input) {
  background-color: var(--tsc-color-1000);
  border: var(--tsc-border-200) solid var(--tsc-color-600);
  border-radius: var(--tsc-border-300);
  color: var(--tsc-color-000);
  width: var(--tsc-width-600);
}

input:not(.tsc-main-edit_profile-form-img-field-input):hover {
  border: var(--tsc-border-200) solid var(--tsc-color-600);
}
