.tsc-loader {
  align-items: center;
  background-color: var(--tsc-color-1000-transparent);
  flex-direction: column;
  height: inherit;
  justify-content: center;
  width: var(--tsc-width-full);
}

.tsc-spinner {
  animation: spin 1s linear infinite;
  border: var(--tsc-border-300) solid var(--tsc-color-800);
  border-radius: var(--tsc-border-400);
  border-top: var(--tsc-border-300) solid var(--tsc-color-300);
  height: var(--tsc-height-400);
  width: var(--tsc-width-300);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-height: 750px) {
  .tsc-loader {
    justify-content: normal;
    padding-top: 75%;
  }
}

@media screen and (min-height: 800px) {
  .tsc-loader {
    padding-top: 80%;
  }
}
