.tsc-main-home-feature-card {
  background-color: var(--tsc-color-1000);
  border-radius: var(--tsc-border-300);
  box-shadow: var(--tsc-box-shadow-000) var(--tsc-box-shadow-100)
    var(--tsc-box-shadow-300) var(--tsc-color-000-box-shadow-1);
  display: flex;
  flex-direction: column;
  gap: var(--tsc-gap-500);
  padding: var(--tsc-padding-600);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tsc-main-home-feature-card:hover {
  box-shadow: var(--tsc-box-shadow-000) var(--tsc-box-shadow-200)
    var(--tsc-box-shadow-600) var(--tsc-color-000-box-shadow-2);
  transform: translateY(-5px);
}
