.tsc-footer-home-logo-content,
.tsc-footer-events-logo-content {
  gap: var(--tsc-gap-200);
}

.tsc-footer-events-logo-content,
.tsc-footer-home-logo-content {
  display: none;
}

@media screen and (min-width: 768px) {
  .tsc-footer-events-logo-content,
  .tsc-footer-home-logo-content {
    display: flex;
    flex-direction: column;
  }
}
