:root {
  /* BACKGROUND */
  --tsc-background-desktop: url('https://res.cloudinary.com/ddd5cycm4/image/upload/v1722965956/guitar-coach_jndee5.jpg')
    no-repeat center center fixed;
  --tsc-background-mobile: url('https://res.cloudinary.com/ddd5cycm4/image/upload/v1721754875/trumpetist-coach_t5g24a.jpg')
    no-repeat center center fixed;

  /* BORDER */
  --tsc-border-000: none;
  --tsc-border-100: 0.25rem;
  --tsc-border-200: 0.5rem;
  --tsc-border-300: 50%;

  /* BOX-SHADOW */
  --tsc-box-shadow-000: 0;
  --tsc-box-shadow-100: 0.25rem;
  --tsc-box-shadow-200: 0.5rem;
  --tsc-box-shadow-300: 0.75rem;

  /* COLOR PALETTE */
  --tsc-color-000: #1a1a1a;
  --tsc-color-000-transparent: #1a1a1aef;
  --tsc-color-100: #010818;
  --tsc-color-200: #0f3fa78c;
  --tsc-color-300: #3498db;
  --tsc-color-400: #28a745;
  --tsc-color-500: #dc3545e6;
  --tsc-color-600: #ff7f0f;
  --tsc-color-700: #ffea2b;
  --tsc-color-800: #8fafca;
  --tsc-color-900: #e8e8e8;
  --tsc-color-900-transparent: #e8e8e8e3;

  /* COLOR-SCHEME */
  color-scheme: light dark;

  /* FONT */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  /* FONT-SIZE */
  --tsc-font-size-100: 0.8rem;
  --tsc-font-size-200: 0.85rem;
  --tsc-font-size-300: 0.9rem;
  --tsc-font-size-400: 1rem;
  --tsc-font-size-500: 1.15rem;
  --tsc-font-size-600: 1.25rem;
  --tsc-font-size-700: 1.5rem;
  --tsc-font-size-800: 1.75rem;
  --tsc-font-size-900: 2rem;
  --tsc-font-size-1000: 2.25rem;
  --tsc-font-size-1100: 2.5rem;

  /* FONT-WEIGHT */
  font-weight: 400;
  --tsc-font-weight-100: 700;
  --tsc-font-weight-200: bold;

  /* GAP */
  --tsc-gap-100: 0.25rem;
  --tsc-gap-200: 0.5rem;
  --tsc-gap-300: 0.75rem;
  --tsc-gap-400: 1rem;
  --tsc-gap-500: 1.25rem;
  --tsc-gap-600: 1.5rem;
  --tsc-gap-700: 1.75rem;
  --tsc-gap-800: 2rem;
  --tsc-gap-900: 2.25rem;
  --tsc-gap-1000: 2.5rem;

  /* HEIGHT */
  --tsc-height-100: 1.25rem;
  --tsc-height-200: 1.75rem;
  --tsc-height-300: 2.5rem;
  --tsc-height-400: 4rem;
  --tsc-height-500: 5rem;
  --tsc-height-full: 110svh;

  /* LINE-HEIGHT */
  line-height: 1.25;
  --tsc-line-height-100: 1.5;

  /* MARGIN */
  --tsc-margin-000: 0;
  --tsc-margin-100: 0.5rem;
  --tsc-margin-200: 1rem;

  /* OUTLINE */
  --tsc-outline-100: 0.25rem;

  /* PADDING */
  --tsc-padding-000: 0;
  --tsc-padding-100: 0.25rem;
  --tsc-padding-200: 0.5rem;
  --tsc-padding-300: 0.75rem;
  --tsc-padding-400: 1rem;
  --tsc-padding-500: 1.25rem;
  --tsc-padding-600: 1.5rem;
  --tsc-padding-700: 1.75rem;
  --tsc-padding-800: 2rem;
  --tsc-padding-900: 2.5rem;
  --tsc-padding-1000: 6rem;
  --tsc-padding-1100: 8rem;

  /* POSITION */
  --tsc-position-bottom-000: 0;
  --tsc-position-bottom-100: 0.75rem;
  --tsc-position-bottom-200: 50%;
  --tsc-position-left-000: 0;
  --tsc-position-left-100: 50%;
  --tsc-position-right-000: 0;
  --tsc-position-right-100: 0.25rem;
  --tsc-position-right-200: 1.25rem;
  --tsc-position-top-000: 0;
  --tsc-position-top-100: 0.25rem;
  --tsc-position-top-200: 3.75rem;

  /* TEXT */
  text-rendering: optimizeLegibility;

  /* WIDTH */
  --tsc-width-100: 1.25rem;
  --tsc-width-200: 2.5rem;
  --tsc-width-300: 4rem;
  --tsc-width-400: 5rem;
  --tsc-width-500: 6rem;
  --tsc-width-600: 12rem;
  --tsc-width-700: 16rem;
  --tsc-width-800: 24rem;
  --tsc-width-900: 50rem;
  --tsc-width-1000: 80%;
  --tsc-width-full: 100%;

  /* Z-INDEX */
  --tsc-z-index-100: 1;
  --tsc-z-index-200: 10;
  --tsc-z-index-300: 100;
  --tsc-z-index-400: 1000;
}

* {
  box-sizing: border-box;
  margin: var(--tsc-margin-000);
}

body {
  background: var(--tsc-background-mobile);
  background-size: cover;
}

ul {
  padding: var(--tsc-padding-000);
}

ul,
li,
a {
  list-style: none;
}

a {
  text-decoration: none;
}

.app {
  height: var(--tsc-height-full);
}

.tsc {
  background: var(--tsc-color-200);
  display: grid;
  grid-gap: var(--tsc-gap-500);
  grid-template-rows: auto 1fr auto;
  min-height: var(--tsc-height-full);
}

.tsc-header {
  display: flex;
  justify-content: center;
}

.tsc-header-events {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--tsc-gap-500);
}

.tsc-main {
  display: flex;
  flex-direction: column;
}

.tsc-footer > p {
  color: var(--tsc-color-900);
  font-weight: var(--tsc-font-weight-100);
  margin: var(--tsc-margin-000) var(--tsc-margin-100);
}

@media screen and (min-width: 600px) {
  body {
    background: var(--tsc-background-desktop);
    background-size: cover;
  }

  .tsc-footer > p {
    margin: var(--tsc-margin-000) var(--tsc-margin-200);
  }
}
