.tsc-header-nav-user_info {
  display: flex;
  align-items: center;
  gap: var(--tsc-gap-200);
}

.tsc-header-nav-user_name {
  font-size: var(--tsc-font-size-400);
  font-weight: var(--tsc-font-weight-200);
}
