.sc-main-login_form,
.sc-main-register_form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 0 0.9rem;
}

@media screen and (min-width: 350px) {
  .sc-main-login_form,
  .sc-main-register_form {
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 400px) {
  .sc-main-login_form,
  .sc-main-register_form {
    gap: 1.5rem;
    padding: 0 2.5rem;
  }
}

@media screen and (min-width: 350px) and (min-height: 750px) {
  .sc-main-login_form,
  .sc-main-register_form {
    gap: 2rem;
  }
}

@media screen and (min-width: 600px) {
  .sc-main-login_form,
  .sc-main-register_form {
    gap: 2rem;
    padding: 0 5rem;
  }
}

@media screen and (min-width: 768px) {
  .sc-main-login_form,
  .sc-main-register_form {
    padding: 0 10rem;
  }
}

@media screen and (min-width: 900px) {
  .sc-main-login_form,
  .sc-main-register_form {
    padding: 0 15rem;
  }
}

@media screen and (min-width: 1200px) {
  .sc-main-login_form,
  .sc-main-register_form {
    padding: 0 25rem;
  }
}

@media screen and (min-width: 1400px) {
  .sc-main-login_form,
  .sc-main-register_form {
    padding: 0 30rem;
  }
}
