.tsc-main-hero-subtitle {
  font-size: var(--tsc-font-size-600);
  margin-bottom: var(--tsc-margin-400);
  line-height: var(--tsc-line-height-100);
}

.tsc-main-login_form-register_message,
.tsc-main-register_form-login_message {
  padding-bottom: var(--tsc-padding-200);
}

.tsc-main-events-card p {
  color: var(--tsc-color-000);
}

.tsc-main-profile_info-profile_email,
.tsc-main-profile_info-profile_fullname {
  color: var(--tsc-color-100);
  font-size: var(--tsc-font-size-500);
}
