.tsc-main-login_form-register_option {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--tsc-gap-400);
  padding-top: var(--tsc-padding-200);
}

.tsc-main-login_form-register_message {
  font-size: var(--tsc-font-size-100);
  font-weight: var(--tsc-font-weight-100);
}

.tsc-main-login_form-register_message {
  color: var(--tsc-color-700);
}

@media screen and (min-width: 360px) {
  .tsc-main-login_form-register_option {
    padding-top: var(--tsc-padding-300);
  }

  .tsc-main-login_form-register_message {
    font-size: var(--tsc-font-size-200);
  }
}

@media screen and (min-width: 400px) {
  .tsc-main-login_form-register_message {
    font-size: var(--tsc-font-size-300);
  }
}

@media screen and (min-width: 350px) and (min-height: 750px) {
  .tsc-main-login_form-register_option {
    gap: var(--tsc-gap-500);
  }

  .tsc-main-login_form-register_message {
    font-size: var(--tsc-font-size-400);
  }
}
