.tsc-main-hero-feature-title {
  color: var(--tsc-color-000);
  font-size: var(--tsc-font-size-700);
}

.tsc-footer-link-heading {
  color: var(--tsc-color-600);
  font-size: var(--tsc-font-size-500);
}

.tsc-main-events-card-title {
  color: var(--tsc-color-000);
  font-size: var(--tsc-font-size-600);
  margin: var(--tsc-margin-000);
}
