.sc-main-login_form-email_field-label,
.sc-main-login_form-password_field-label {
  color: var(--rtc-color-n-600);
  font-weight: 700;
}

.sc-main-login_form-email_field-input,
.sc-main-login_form-password_field-input {
  background-color: var(--rtc-color-n-900);
  border: 0.25rem solid var(--rtc-color-n-600);
  border-radius: 0.5rem;
  color: var(--rtc-color-n-000);
  height: 2rem;
}

.sc-main-login_form-email_field-input:hover,
.sc-main-login_form-password_field-input:hover {
  border: 0.25rem solid var(--rtc-color-n-600);
}
