.sc-main-profile_form {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  padding: 0 0.5rem;
}

@media screen and (min-width: 350px) {
  .sc-main-profile_form {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 400px) {
  .sc-main-profile_form {
    gap: 2rem;
    padding: 0 2rem;
  }
}

@media screen and (min-width: 350px) and (min-height: 750px) {
  .sc-main-profile_form {
    gap: 1.75rem;
  }
}

@media screen and (min-width: 600px) {
  .sc-main-profile_form {
    gap: 2.5rem;
    padding: 0 4.5rem;
  }
}

@media screen and (min-width: 768px) {
  .sc-main-profile_form {
    padding: 0 9.5rem;
  }
}

@media screen and (min-width: 900px) {
  .sc-main-profile_form {
    padding: 0 14.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .sc-main-profile_form {
    padding: 0 24.5rem;
  }
}

@media screen and (min-width: 1400px) {
  .sc-main-profile_form {
    padding: 0 29.5rem;
  }
}
