.sc-main-login_form-button {
  align-self: center;
}

.sc-main-register_link-button {
  background-color: var(--rtc-color-n-600);
  border: 0.25rem solid var(--rtc-color-n-600);
  border-radius: 0.5rem;
  color: var(--rtc-color-n-900);
}

.sc-main-register_link-button:hover {
  color: var(--rtc-color-n-600);
}
